.windowJSContent {
    display: block;
}

.windowJSWindow {
    display: inline-block;
}

.windowJSButton {
    float: right;
}

.windowJSTitle > span {
    padding-left: 10px;
    padding-right: 10px;
}